// hero
section.hero
	.hero__bg
		//- img(src="img/top__bg.jpg", alt="")

section.responses
	p.g__title Отзывы о лицензированных онлайн казино
	.card
		.card__wrap
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)
section.overviews
	p.g__title Отзывы о лицензированных онлайн казино
	.card
		.card__wrap
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)
			+card(false)




	// /.container

// /.hero